body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.side-bar {
    height: 100vh;
    background-color: rgb(25, 146, 212);
    color: white;
    font-weight: 600;
    min-width: 20vw;
    font-size: 1.5rem;
}

.side-group {
    margin-bottom: 4rem;
}

.side-button {
    margin-left: 15%;
}

.side-button > p > svg {
    margin-bottom: -3px;
    margin-right: .7rem;
    fill: white;
}

.logo {
    display: flex;
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 3%;
    padding-bottom: 25px;
}

.logo > svg {
    margin-left: 3%;
    margin-bottom: -3px;
    margin-right: .7rem;
    fill: white;
    height: 3.5rem;
}

.logo-title {
    padding-top: 2%;
}

.user-panel {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.up-header {
    position: relative;
    box-shadow: 0 6px 5px -1px lightgray;   
}

.up-panel {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(227, 232, 239);
    height: 100%;
}

.up-panel > * {
    margin-left: 15px;
}


.projects {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project-card {
    display: grid;
    grid-template-rows: 4fr 1fr;
    background-color: white;
    border-radius: 6px;
    padding: 12px;
    width: 25vw;
    box-shadow: 2px 5px 5px lightgrey;
    border-left: .6rem solid rgb(240, 180, 41);
}

.content > .title {
    font-size: 1.3rem;
    font-weight: 600;
}
.content > .text {
    color: rgb(99, 99, 99);
    font-size: 1rem;
    margin-top: -10px;
} 

/* .icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    height: 25px;
}

svg {
    height: 25px;
    fill: rgb(51, 51, 51);
}

.right-side {
    grid-area: 1 / 2 / 2 /3;
}

